﻿@model IQueryable<Educator>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/General_layout.cshtml";
}

<h2>Nouveau Message</h2>


<div class="container">

    <form action="/Message/Send_m" method="post">

        <select class="form-control" name="id_educator">
            @foreach (Educator prof in Model)
            {
                <option value="@prof.id_educator">
                    @prof.email
                </option>

            }
        </select>
        <br/>

        <input type="text" name="objet" placeholder="Objet" class="form-control" /><br />
        <textarea name="contenu" placeholder="Message ici" class="form-control"></textarea><br />

        <button type="submit" class="btn btn-lg btn-primary">Envoyer</button>

    </form>

    <a href="/Cours/Index" style="text-decoration:none">Retour</a>
</div>

