﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Login_Inscription.cshtml";
}



<div class="wrapper" style="background-image: url('~/images/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/registration_photo.jpeg" />
        </div>
        <form action="/Logineducator/VerifyLoginEduc" method="post">
            <h3>Login Form - Educator</h3>
            <div class="form-wrapper">
                <input type="text" placeholder="Email Address" class="form-control" name="email">
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Password" class="form-control" name="password_edc">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button type="submit">
                Login
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
            <br /><br />
            <a style="text-decoration:none;" href="/Login/Index">Vous êtes un étudiant? Connectez-vous ici</a>
        </form>
    </div>
</div>

