﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Login_Inscription.cshtml";
}


<div class="wrapper" style="background-image: url('~/images/inscription.jpeg');">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/inscription.jpeg" />
        </div>
        <form action="/Inscription/VerifyInscription" method="post">
            <h3>Registration Form</h3>
            <div class="form-wrapper">
                <input type="text" placeholder="First Name" class="form-control" name="firstname">
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Last Name" class="form-control" name="lastname">
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="email" placeholder="Email Address" class="form-control" name="email">
                <i class="zmdi zmdi-email"></i>
            </div>
            <button type="submit">
                S'inscrire
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>

<script src="~/Scripts/qa_script.js"></script>