﻿
@{
    ViewBag.Title = "VerifyInscription";
    Layout = "~/Views/General_layout.cshtml";
}

    <div class="alert alert-primary" role="alert">
       Votre compte à été crée! Un email vous a été envoyé.
    </div>

    <a href="/Login/Index">Retour au login</a>

