﻿@model IQueryable<Cour>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/General_layout.cshtml";
}

<br/>
<br/>

<a class="btn btn-primary" href="/AllCourses/AddCourse">Ajouter un cours</a>

<div class="container">
    <div class="card-deck">
        @foreach (Cour cr in Model)
        {
            <div class="card">
                <div class="card-body">
                    Titre : @cr.nom_cours
                    Description : @cr.description_
                </div>
                @Html.ActionLink(
                    linkText: "Delete",
                    actionName: "Delete",
                    controllerName: "AllCourses",
                    routeValues: new { id_cours = cr.id_cours },
                    htmlAttributes: null
               )

            </div>
        }
    </div>
    <br />
    <br />
    <br />

    <button class="btn btn-light">
        <a style="text-decoration:none; color:#000000" href="/Logineducator/Deconexion">Déconexion</a>
    </button>


</div>
