﻿@using ethot_bk.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/General_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Cours : </h1>

        @foreach (Globalclass rec_ in (Globalclass[])ViewBag.Records)
        {

            <ul>
                <li>Titre : @rec_.cours_data.nom_cours ; Description : @rec_.cours_data.description_</li> &nbsp;

                <h3>Matériels du cours : </h3>
                <ul>
                    <li>Notes de cours: @rec_.materiel_data.notesdecours</li>
                    <li><a href="@rec_.materiel_data.videos">Vidéo tutoriel</a></li>
                    <li>@rec_.materiel_data.labos</li>
                    <li>@rec_.materiel_data.exercices</li>
                    <li>@rec_.materiel_data.solutionnaires</li>
                </ul>

            </ul>

        }

        <a href="/Cours/inscription" style="text-decoration:none">S'inscrire à un cours</a><br />
        <a href="/Cours/sendmessage" style="text-decoration:none">Envoyer un message à un prof</a><br />

        <button class="btn btn-light">
            <a style="text-decoration:none; color:#000000" href="/Cours/Deconexion">Déconexion</a>
        </button>

    </div>

</body>
</html>
