﻿
@{
    ViewBag.Title = "courseaddedsuccessfully";
    Layout = "~/Views/General_layout.cshtml";
}

<h2>Course added successfully</h2>

<a href="/AddCourse/Index" style="text-decoration:none">Retour</a>
