﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/General_layout.cshtml";
}

<h2>Détails du cours</h2>

<div class="container">

    <form action="/AddCourse/Add_c" method="post">

        <input type="text" name="nom_cours" placeholder="Nom du cours" class="form-control" /><br />
        <input type="text" name="description_" placeholder="Description" class="form-control" /><br />
        <textarea name="materiel" placeholder="Materiel" class="form-control"></textarea><br />

        <button type="submit" class="btn btn-lg btn-primary">Ajouter</button>

    </form>

    <a href="/AllCourses/Index" style="text-decoration:none">Retour</a>
</div>


