﻿
@{
    ViewBag.Title = "dejainscrit";
    Layout = "~/Views/General_layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    Vous êtes déjà inscrit à ce cours.
    <a href="/InscriptionCourse/Index">Retour à l'inscription</a>
    <a href="/Cours/Index">Retour au menu</a>
</div>

