﻿@model IQueryable<Cour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/General_layout.cshtml";
}

<h2>Inscription à un cours</h2>

<div class="container">
    <form action="/InscriptionCourse/inscriptioncourse" method="post">
        <select class="form-control" name="id_cours">
            @foreach (Cour cr in Model)
            {
                <option value="@cr.id_cours">
                    @cr.nom_cours
                </option>

            }
        </select>
        <br/>
        <button class="btn btn-lg btn-primary" type="submit">S'inscrire au cours</button>
        <br/>
        <br/>
        <a href="/Cours/Index" style="text-decoration:none">Retour au cours</a>

    </form>

</div>

