﻿
@{
    ViewBag.Title = "inscriptionok";
    Layout = "~/Views/General_layout.cshtml";
}

<h2>Inscription Completed</h2>
<br/>
<a href="/InscriptionCourse/Index" style="text-decoration:none">Retour</a>

