﻿
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Login_Inscription.cshtml";
}


<div class="wrapper" style="background-image: url('~/images/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/registration_photo.jpeg" />
        </div>
        <form action="/Login/Resetpassword" method="post">
            <h3>Première connexion</h3>
            <div class="form-wrapper">
                <input type="password" placeholder="Mot de passe actuel" class="form-control" name="password_">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Nouveau mot de passe" class="form-control" name="password_2">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button type="submit">
                Soumettre
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>


