﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/General_layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    Champs invalides
    <a href="/Login/Index">Retourner à la connexion.</a>
</div>

