﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Login_Inscription.cshtml";
}


    <div class="wrapper" style="background-image: url('~/images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="~/images/registration_photo.jpeg" />
            </div>
            <form action="/Login/VerifyLogin" method="post">
                <h3>Login Form - Student</h3>
                <div class="form-wrapper">
                    <input type="email" placeholder="Email Address" class="form-control" name="email">
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <input type="password" placeholder="Password" class="form-control" name="password_">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button type="submit">
                    Login
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
                <button>
                    <a style="text-decoration:none; color:#fff" href="/Inscription/Index">S'inscrire</a>
                </button>
                <br/><br/>
                    <a style="text-decoration:none;" href="/Logineducator/Index">Vous êtes un professeur? Connectez-vous ici</a>
            </form>
        </div>
    </div>



<!--

<div class="wrapper" style="background-image: url('~/images/bg-registration-form-1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/registration-form-1.jpg" />
        </div>
        <form action="">
            <h3>Registration Form</h3>
            <div class="form-group">
                <input type="text" placeholder="First Name" class="form-control">
                <input type="text" placeholder="Last Name" class="form-control">
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Username" class="form-control">
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Email Address" class="form-control">
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <select name="" id="" class="form-control">
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="femal">Female</option>
                    <option value="other">Other</option>
                </select>
                <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Confirm Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button>
                Register
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>
    -->
