﻿
@{
    ViewBag.Title = "PasswordDone";
    Layout = "~/Views/General_layout.cshtml";
}


<div class="alert alert-success" role="alert">
    Votre mot de passe est mis à jour.
    <a href="/Login/Index">Retourner à la connexion.</a>
</div>
